body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;
}

.left-container {
  width: 30%;
  border-right: 1px solid #333;
  padding-top: 20px;
  padding-left: 20px;
}

.left-comment {
  position: sticky;
}

.main-container {
  width: 50%;
}

.right-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #333;
}

.right-container div {
  margin-top: 30px;
  margin-left: 12px;
}

li {
  list-style: none;
  border-bottom: 2px solid gray;
  padding-top: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

.lihead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fana {
  display: flex;
  align-items: center;
}

img.user-icon {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 20px;
}

img.user-icon-pro {
  content: '';
  width: 80px;
  height: 80px;
  border-radius:40px;
}

.fana .person {
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.fana .person:hover {
  cursor: pointer;
}

.statement {
  margin-left: 50px;
}

.lifoot {
  display: flex;
  justify-content: end;
}

.lifoot .trash {
  margin-right: 10px;
}

.lifoot .like {
  margin-right: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #2f363e;
  /* border-left: 1px solid #2f363e; */
  margin-bottom: 10px;
  border-right: 1px solid #2f363e;
}

.profile-header {
  width: 100%;
  height: 160px;
  background-color: #2f363e;
}

.una {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.una .user-icon-pro {
  position: absolute;
  top: -42px;
  left: 30px;
}

.unarea {
  position: absolute;
  top: 44px;
  bottom: 0;
  right: 0;
  left: 38px;
  font-weight: bold;
}

.edit-profile-btn {
  color: black;
  border: 2px solid #2f363e;
  padding: 0 8px;
  border-radius: 300px;
}

.edit-profile-btn-d {
  color: black;
  padding: 0 8px;
  border-radius: 300px;
}

.intro-container {
  padding: 30px;
  width: 80%;
  height: auto;
}

.birthday {
  margin-left: 20px;
  color: rgb(154, 154, 154);
  font-size: small;
}

.login-container, .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.login-form {
  border: 2px solid #2f363e;
  border-radius: 5px;
  padding: 30px 60px;
}

.signup-form {
  border: 2px solid #2f363e;
  border-radius: 5px;
  padding: 30px 72px;
}

.signup-form .username {
  height: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.login-form .email,
.signup-form .email {
  height: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.username-label, .email-label, .password-label {
  margin-bottom: 10px;
}

input[name="email"] {
  padding: 10px;
}

.login-form .password,
.signup-form .password {
  height: 40px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}


input[name="password"] {
  padding: 10px;
}

.login-form .login-btn-container,
.signup-form .signup-btn-container {
  display: flex;
  justify-content: center;
}

.login-btn, .signup-btn {
  background-color: #2f363e;
  color: white;
  /* border: 2px solid #2f363e; */
  padding: 10px 30px;
  border-radius: 5px;
}